@font-face {
    font-family: japan;
    src: url(./3856NeueMachina.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    width: 100%;
    height: 100%;
}
.section1{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
nav h1{
    font-size: 40px;
    cursor: pointer;
}
nav h1 i{
    margin-right: 10px;
    rotate: 45deg;
    display: inline-block;
    font-size: 45px;
}
nav h1 i:hover{
    color: #B9FF66;
}
nav h4{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
nav button{
    padding: 15px 28px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #111;
    background-color: transparent;
    cursor: pointer;
}
nav button:hover{
    background-color: #B9FF66;
    border: 1px solid transparent;
    scale: 1.02;
    transition: all linear 0.3s;
}
nav button:active{
    border: 1px solid #111;
    background-color: #fff;
}
.center{
    height: 80%;
    width: 100%;
    padding: 70px;
    display: flex;
}
.center-part1{
    height: 100%;
    width: 45%;
}
.center-part1 h1{
    font-family: japan;
    font-size: 65px;
    font-weight: 550;
    line-height: 1.2;
}
.center-part1 p{
    width: 95%;
    font-size: 20px;
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 25px;
}
.center-part1 button{
    background-color: #111;
    color: #fff;
    border-radius: 10px;
    padding: 18px 28px;
    font-size: 25px;
    font-weight: 550;
    border: none;
    cursor: pointer;
}
.center-part1 button:hover{
    background-color: #B9FF66;
    color: #111;
    border: none;
    scale: 1;
    transition: all linear 0.3s;
}
.center-part2{
    height: 100%;
    width: 55%;
}
.center-part2 img{
    margin-left: 30px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}
.section1bottom img{
    height: 60px;
}
.section1bottom img:nth-child(3){
    height: 100px;
}
.section1bottom img:nth-child(4){
    height: 80px;
}

.section2{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.section2 .services{
    margin-top: 50px;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}
.services h1{
    background-color: #B9FF66;
    font-weight: 500;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 40px;
    font-family: japan;
}
.services p{
    width: 50%;
    font-size: 19px;
}

.container{
    /* background-color: red; */
    height: 87%;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.elem{
    height: 260px;
    width: 47%;
    margin-top: 20px;
    padding: 50px 40px;
    flex-shrink: 0;
    /* background-color: gray; */
    border-radius: 40px;
    border: 1px solid black;
    box-shadow: 0 15px 0 black;
    display: flex;
}
.elem .elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.elem .elem-part1 h2{
    font-size: 28px;
    font-family: japan;
    padding: 0 5px;
    width: 95%;
    border-radius: 8px;
    background-color: #B9FF66;
}
.elem .elem-part1 h4{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    gap: 15px;
}
.elem .elem-part1 h4 i{
    background-color: #111;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    rotate: -45deg;
}
.elem .elem-part2{
    height: 100%;
    width: 50%;
}
.elem .elem-part2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.black{
    background-color: #111;
    color: #fff;
    border: 2px solid #fff;
}
.black .elem-part1 h2{
    background-color: #fff;
    color: #111;
}
.black .elem-part1 h4 i{
    background-color: #fff;
    color: #111;
} 
.black .elem-part2 img{
    object-fit: contain;
}

.section3{
    height: 100%;
    width: 100%;
}
.container2{
    width: 100%;
    height: 50%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2 .contain{
    height: 80%;
    width: 84%;
    background-color: #ecececef;
    border-radius: 15px;
    display: flex;
}
.contain .contain-part1{
    height: 100%;
    width: 50%;
    padding: 50px 80px;
}
.contain-part1 h2{
    padding: 5px;
    font-size: 35px;
    font-family: japan;
}
.contain-part1 p{
    margin: 30px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}
.contain-part1 button{
    background-color: #111;
    color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 550;
    border: none;
    cursor: pointer;
    font-family: japan;
}
.contain .contain-part2{
    height: 100%;
    width: 50%;
    /* background-color: red; */
}
.contain-part2 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.study{
    width: 100%;
    height: 25%;
    margin-top: 50px;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}
.study h1{
    background-color: #B9FF66;
    font-weight: 500;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 40px;
    font-family: japan;
}
.study p{
    width: 50%;
    font-size: 19px;
}